<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Users</title>
</head>
<body>
<h1>Manage Users</h1>
<div th:text="${#authentication.authorities}">Authentication Details</div>

<a href="/Digital Library/admin/books">Books library</a>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th>UserName</th>
        <th>Reservations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.username}"></td>
        <td>
            <a th:if="${user.reservation=='ACTIVE'}" th:href="@{/admin/user/{id}/reservations(id=${user.id})}">show reservations</a>
            <a th:href="@{/Digital Library/admin/users/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<!-- Pagination Controls -->
<div>
    <a th:if="${currentPage > 0}"
       th:href="@{/Digital Library/admin/users(page=${currentPage - 1}, size=5)}">Previous</a>
    <span>Page <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span></span>
    <a th:if="${currentPage + 1 < totalPages}"
       th:href="@{/Digital Library/admin/users(page=${currentPage + 1}, size=5)}">Next</a>
</div>
</body>
</html>